ion-toolbar {
  --background: linear-gradient(to left, rgba(99,60,224,1), rgba(99,60,224,0.5)), url('../../assets/lotomania/number.jpg') no-repeat center center / cover;
  -webkit-background-size: cover;
  color: white;
  font-family: GOLSansTextBold,'Trebuchet MS',Arial,sans-serif;
  font-size: 22px;
  
}
ion-content {
  --background: url('../../assets/lotomania/dinheiro.jpg') no-repeat center center / cover;
  --padding-start: 5px;
  --padding-end: 0px;
}

ion-button {
  width: -webkit-fill-available;
  padding-right: 10px;
}

ion-note {
  --color: #000000;
  font-family: fantasy;
  font-size: 22px;
  padding: 3px;
}

ion-card {
  --background: white
}

.arredondar {
  display: inline-block;
  background-color: #633ce0;
  padding: 12px;
  font-size: 14; /*remove "white spaces"*/
  color:#fff;
  font-weight: bold;
}
.arredondar, .arredondar img {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.trapezio { 
  display: inline-block;
  background: cornsilk;
  border: 1px solid #fff;
  font-size: 13px;
  height: 17px; 
  width: 33px; 
  font-weight: bold;
}
span {
  font-family: 'Courier New', Courier, monospace;
  padding-left: 50%;
}
#arr {
  text-align: center;
}
#palpite {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
}

#n_sorteio {
  align-items: center;
  display: flex;
  justify-content: center;
}
#table-header {
  color:cadetblue
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  width:99%
}
td {
  text-align: center
}
#sena {
  color: #0c9c45
}
#quina {
  color: blue
}
#quadra {
  color: #f00
}



q::before {
  content: counter(meucontador);
}
.contador {
  counter-increment: meucontador;
}

.minha-classe {
  counter-reset: meuContador;
}
.title-md {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}
.sc-ion-buttons-md-h {
  margin-top: -73px;
}

h5 {
  color: black;
  font-family: fantasy;
  padding-top: 2px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center
}

#frase {
  padding-top: 6px;
  text-align: center;
  color: white;
  font-size: 21px;
}

#aposta {
  padding-left: 3px;
  padding-bottom: 3px;
  letter-spacing: 3px;
}

#aposta-label {
  color: cadetblue
}


ul {
    list-style-type: none;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-top: 42px;
  }
  
  li {
    display: inline-block;
    padding: 1px;
  }
  
  input[type="checkbox"][id^="cb"] {
    display: none;
  }
  
  ion-checkbox[id^="cb"] {
    display: none;
  }
  
  label {
    border: 0px solid #fff;
    padding: 0px;
    display: block;
    position: relative;
    margin: 0px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked+label {
    border-color: #ddd;
  }
  
  :checked+label::before {
    content: "✓";
    background-color: grey;
    transform: scale(0.5);
  }