ion-slides {
    height: 95%;
  }
.img-icon {
  width: 35%;
  margin-left: 104px;
}
.title {
  margin-left: 53px;
  margin-top: -9px;
}
.btn-pular {
  margin-top: -3px;
}

.title-neurociencia {
  text-align: center;
}