

<ion-content padding>
  <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-row>
          <div class="img-icon"><img src="assets/icon/iconv3.png"></div>
            <h1 class="title">O segredo da loteria</h1>
            <h3>Este app funciona com base nos princípios da <strong>Lei da atração</strong>, usa conceitos de <strong>Matemática </strong> e <strong>Neurociência</strong>
            aumentando consideravelmente sua chance de ser um <strong>ganhador da loteria</strong>.
            </h3>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <h1>O que diz a Lei da Atração?</h1>
            <ion-item>
              <h3>A lei da atração diz que os pensamentos das pessoas
                  (tanto conscientes quanto inconscientes) criam a realidade de suas vidas, estejam elas sabendo disso ou não.</h3>
            </ion-item>
            <ion-item>
              <h3>Quando você se concentra no que você quer, você está fazendo a energia vibrar na mesma frequência do seu desejo.</h3>       
            </ion-item>

          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <h1>O que são Desdobramentos?</h1>
            <h3 class="txt-desdobramento">O termo Desdobramento é usado em loteria como sinônimo de Arranjos e Combinações. É uma operação matemática que possibilita jogar com uma quantidade maior de números
            combinados em poucos cartões, com isso as chances de ganhar aumentam exponencialmente</h3>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col class="title-neurociencia"><h1>Neurociência</h1></ion-col>
            <h3 class="txt-desdobramento">Uma afirmação, por regra, é uma declaração confiante de uma verdade percebida, ela é tudo que você diz ou pensa. 
            Muito do que normalmente dizemos e pensamos é bastante negativo e não nos cria boas experiências e consequentemente atraimos coisas negativas. 
            Temos que reeducar o nosso pensamento se quisermos mudar nossas vidas. Palavras geram sentimentos e sentimentos são poderosas forças de atração.</h3>
          </ion-row>
        </ion-slide>
      </ion-slides>
      <ion-button class="btn-pular" color="primary" expand="block" (click)="nextPage()">PULAR</ion-button>
</ion-content>
