<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      LOTOMANIA
    </ion-title>
    <div id="frase">"Siga seus sonhos e ideais e lute enquanto a sorte faz o seu trabalho."</div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card" (click)="fechamento_100x6()">
          <div id="dezena">100 dezenas</div>
          <div id ="apostas">6 apostas</div>
          <div id="valor-card">R$ 9,00</div>
          <div></div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="fechamneto18x3x9()">
          <div id="dezena">90 dezenas</div>
          <div id="fixas">10 fixas</div>
          <div id="apostas">6 apostas</div>
          <div id="valor">R$ 9,00</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
