<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      LOTOMANIA
    </ion-title>
    <div id="frase">"O DINHEIRO É CONSTANTE E ABUNDANTE NA MINHA VIDA.</div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card" (click)="fechamento_60x6()">
          <div id="dezena">60 dezenas</div>
          <div id ="apostas">6 apostas</div>
          
          <div></div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card" (click)="fechamento_60x12()">
          <div id="dezena">60 dezenas</div>
          <div id="apostas">12 apostas</div>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <h6>*Mais desdobramentos nas proximas atualizações. Fé e boa sorte.</h6>

</ion-content>
