ion-header {
  height: 100px;
}
ion-toolbar {
    //--background: linear-gradient(#ff800073, #e0710073), url('../../assets/lotomania/beach.jpg') no-repeat center center / cover;
    --background: linear-gradient(to left,rgba(255,128,0,1), rgba(255,128,0,0.7)), url('../../assets/lotomania/number.jpg') no-repeat center center / cover;
    -webkit-background-size: cover;
    color: white;
    font-family: fantasy;  
    height: 100px;
}
ion-content {
    --background: url('../../assets/lotomania/dinheiro.jpg') no-repeat center center / cover;
} 
ion-button {
    width: -webkit-fill-available;
    --margin-top: -45px;
}
ion-card {
  --background: #ff8000;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.title-md {
  padding-top: 10px
  }
.sc-ion-buttons-md-h {
  margin-top: -49px;
}
.card {
  padding-bottom: 9px;
}
span {
  font-family: 'Courier New', Courier, monospace;
}
#valor {
    color: crimson;
    font-weight: bold;
    padding-top: 6px;
  }
#valor-card {
    color: crimson;
    font-weight: bold;
    padding-top: 15px;
  }
#dezena {
    padding-top: 3px;
    color: chartreuse;
  }
#apostas {
    color: blue;
  }
  
#fixas {
    color: cyan;
  }
#frase {
  padding-top: 20px;
  text-align: center;
  color: white;
  font-size: 16px;
}
  