<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      QUINA
    </ion-title>
    <div id="frase">"Siga seus sonhos e ideais e lute enquanto a sorte faz o seu trabalho."</div>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  
      <ion-col>
        <ion-card class="card" id="ion-card-palpite" (click)="palpite()">
          <div id="dezena">Palpite da Sorte</div>
          <div id ="apostas">1 aposta</div>
          <div id="valor">R$ 1,50</div>
          <div></div>
        </ion-card>
      </ion-col>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="fechamento_18x12x5x6()">
          <div id="dezena">10 dezenas</div>
          <div id="fixas">100% terno</div>
          <div id="fixas">SE 3 acertos</div>
          <div id ="apostas">19 apostas</div>
          <div id="apostas">de 5 dezenas</div>
          <div id="valor">R$ 28,50</div>
          <div></div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="fechamento_10x19()">
          <div id="dezena">18 dezenas</div>
          <div id="fixas">100% terno</div>
          <div id="fixas">SE 5 acertos</div>
          <div id="apostas">9 apostas</div>
          <div id="apostas">de 6 dezenas</div>
          <div id="valor">R$ 108,00</div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card (click)="fechamento_18x12x5x6()">
          <div id="dezena">8 dezenas</div>
          <div id="fixas">100% terno</div>
          <div id="fixas">SE 3 acertos</div>
          <div id ="apostas">8 apostas</div>
          <div id="valor">R$ 28,50</div>
          <div></div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="fechamento_10x19()">
          <div id="dezena">10 dezenas</div>
          <div id="fixas">100% terno</div>
          <div id="fixas">SE 5 acertos</div>
          <div id="apostas">2 apostas</div>
          <div id="valor">R$ 3,00</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
