<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      QUINA
    </ion-title>
    <div id="frase">"A SORTE FAVORECE OS QUE ACREDITAM QUE SÃO SORTUDOS" </div>
    
  </ion-toolbar>
</ion-header>



<ion-content padding>
  
      <ion-col>
        <ion-card class="card" id="ion-card-palpite" (click)="palpite()">
          <div id="dezena">Palpite da Sorte</div>
          <div id ="apostas">1 aposta</div>
        
        </ion-card>
      </ion-col>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card" (click)="fechamento_15x16()">
          <div id="dezena">15 dezenas</div>
          <div id="fixas">100% premiação</div>
          <div id="fixas">SE 3 acertos</div>
          <div id ="apostas">16 apostas</div>
          
          <div></div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card" (click)="fechamento_9x15()">
          <div id="dezena">9 dezenas</div>
          <div id="fixas">100% premiação</div>
          <div id="fixas">SE 5 acertos</div>
          <div id="apostas">15 apostas</div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="card" (click)="fechamento_8x8()">
          <div id="dezena">8 dezenas</div>
          <div id="fixas">100% premiação</div>
          <div id="fixas">SE 3 acertos</div>
          <div id ="apostas">8 apostas</div>
      
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card" (click)="fechamento_10x2()">
          <div id="dezena">10 dezenas</div>
          <div id="fixas">100% premiação</div>
          <div id="fixas">SE 5 acertos</div>
          <div id="apostas">2 apostas</div>
          
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-card class="card" (click)="fechamento_7x21()">
            <div id="dezena">7 dezenas</div>
            <div id="fixas">100% premiação</div>
            <div id="fixas">SE 5 acertos</div>
            <div id="apostas">21 apostas</div>
            
          </ion-card>
        </ion-col>
        <ion-col>
          
        </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
