// ion-toolbar {
//     --background: linear-gradient(#633ce078, #5735c573), url('../../assets/lotomania/sorte-combo.jpg') no-repeat center center / cover;
//     -webkit-background-size: cover;
//     color: white;
//     font-family: fantasy;
// }
ion-header {
  height: 100px;;
}
ion-toolbar {
  //--background: linear-gradient(162deg, rgba(56, 70, 108, .8) 20%, rgba(56, 70, 108, .8) 100%), url('../../assets/lotomania/sorte-combo.jpg') bottom no-repeat;
  --background: linear-gradient(to left, rgba(99,60,224,1), rgba(99,60,224,0.5)), url('../../assets/lotomania/number.jpg') no-repeat center center / cover;
  color: white;
  font-family: fantasy;
  height: 100px;
}
ion-content {
    --background: url('../../assets/lotomania/dinheiro.jpg') no-repeat center center / cover;
}
  
ion-button {
    width: -webkit-fill-available;
}

ion-card {
  --background: #633ce0;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.title-md {
  padding-top: 10px
  }
.sc-ion-buttons-md-h {
  margin-top: -49px;
}
.card {
  padding-bottom: 9px;
}
span {
  font-family: 'Courier New', Courier, monospace;
  padding-left: 50%;
}
#ion-card-palpite {
    // --background: linear-gradient(#0c9c4573, #0b893d73), url('../../assets/lotomania/sorte-combo.jpg') no-repeat center center / cover;
    --background: linear-gradient( rgba(99,60,224,0.5), rgba(99,60,224,0.5)), url('../../assets/lotomania/sorte-combo.jpg') no-repeat center center / cover;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }
#valor {
    color: crimson;
    font-weight: bold;
    padding-top: 6px;
  }
#valor-card {
    color: crimson;
    font-weight: bold;
    padding-top: 15px;
  }
#dezena {
    padding-top: 3px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
#apostas {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
#fixas {
    color: white;
  }
#frase {
    padding-top: 6px;
    text-align: center;
    color: white;
    font-size: 16px;
  }
