<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      PALPITE DA SORTE
    </ion-title>
    <div id="frase">"EU SOU GRATO PELA SORTE QUE EU TENHO"</div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div class="card">No <strong>Filtro</strong> você pode escolher gerar o palpite com <strong>Todos</strong> os numeros, ou com as <strong>20 Dezenas mais frequentes</strong> nos ultimos 10 jogos.</div>
  </ion-card>
  <br>
  <ion-list class="filtro">
    <ion-radio-group value="todos" name="radio" (ionChange)="radioGroupChange($event)">
      <ion-list-header>
        <ion-label>Filtro</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Todos</ion-label>
        <ion-radio slot="start" value="todos"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Dezenas mais frequentes</ion-label>
        <ion-radio slot="start" value="dezmais"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <br>
  <ion-button size="large" color="primary" (click)="gerar_palpite()">Gerar Palpite</ion-button>

  <div id="palpite">
      <div id="arr" *ngFor="let p of palpite" >
          <div class="arredondar-lotofacil" >{{p}}</div>
      </div>
  </div>

</ion-content>
