
<ion-content padding>
    <br>
    <img class="img-header" src="assets/icon/iconv3.png">
    
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  
  <ion-button size="large" expand="block" color="primary" (click)="login()">Entrar</ion-button>
  
  <ion-row>
      <ion-col text-center>
        <button ion-button clear>
          Esqueceu a senha?
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button clear (click)="register()">
          Criar conta
        </button>
      </ion-col>
    </ion-row>

</ion-content>
