ion-content {
    --background: url('../../assets/lotomania/dinheiro.jpg') no-repeat center center / cover;
  }

  p {
    font-size: 1.8rem;
  }

  .app-icon-container {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .app-icon-zoom {
    zoom: 4.0;
  }

  .sign-in-button-container {
    padding-top: 40px;
  }
