ion-header {
  height: 100px;
}
ion-toolbar {
  --background: linear-gradient(to left, rgba(0,153,0,1), rgba(0,153,0,0.2)), url('../../assets/lotomania/number.jpg') no-repeat center center / cover;
  -webkit-background-size: cover;
  color: white;
  font-family: fantasy;  
  height: 100px;
}
ion-back-button {
  --margin-top: -45px;
  --margin-end: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --icon-margin-end: 0px;
  --icon-margin-start: 0px;
}

ion-content {
  --background: url('../../assets/lotomania/dinheiro.jpg') no-repeat center center / cover;
}

ion-button {
    width: -webkit-fill-available;
}

ion-card {
  --background: #0c9c45;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
#ion-card-palpite {
  --background: linear-gradient( rgba(0,153,0,0.5), rgba(0,153,0,0.5)), url('../../assets/lotomania/sorte-combo.jpg') no-repeat center center / cover;
  //--background: url('../../assets/lotomania/sorte-combo.jpg') no-repeat center center / cover;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.card {
  padding-bottom: 9px;
}
.title-md {
  padding-inline-start: 0px;
  padding-top: 3px;
}
#valor {
  color: crimson;
  font-weight: bold;
  padding-top: 6px;
}
#valor-card {
  color: crimson;
  font-weight: bold;
  padding-top: 15px;
}
#dezena {
  padding-top: 3px;
  color:white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#apostas {
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#fixas {
  color: cyan;
}

#frase {
  padding-top: 25px;
  text-align: center;
  color: black;
}
  