ion-content {
    --background: url('../../assets/lotomania/dinheiro.jpg') no-repeat center center / cover;
    --padding-start: 5px;
    --padding-end: 0px;
  }
ion-card {
    --background: white
  }
ion-header {
    height: 100px;
  }
ion-toolbar {
    --background: linear-gradient(to left, rgba(0,153,0,1), rgba(0,153,0,0.2)), url('../../assets/lotomania/number.jpg') no-repeat center center / cover;
    //--background: url('../../assets/lotomania/beach.jpg') no-repeat center center / cover;
    -webkit-background-size: cover;
    color: white;
    font-family: fantasy;  
    height: 100px;
  }
  
h5 {
    color: black;
    font-family: fantasy;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 25px;
  }
.title-md {
    padding-top: 10px
  }
  .sc-ion-buttons-md-h {
    margin-top: -30px;
  }
  #frase {
  padding-top: 15px;
  text-align: center;
  color: white;
  }
  
  #table-header {
    color:cadetblue
  }
  
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table {
    width:99%
  }
  td {
    text-align: center
  }
  #sena {
    color: #0c9c45
  }
  #quina {
    color: blue
  }
  #quadra {
    color: #f00
  }