<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      ATRAÇÃO da SORTE
    </ion-title>
    <div id="frase">"A IMAGINAÇÃO É TUDO. É A PREVIA DAS ATRAÇÕES FUTURAS DA VIDA"</div>
    <span>- Albert Einstein</span>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <ion-button expand="block" size="large" color="success" (click)="megasena()">MEGA-SENA</ion-button>
    <ion-button expand="block" size="large" color="lotofacil" (click)="lotofacil()">LOTOFACIL</ion-button>
    <!--<ion-button expand="block" size="large" color="lotomania"(click)="lotomania()">LOTOMANIA</ion-button>-->
    <ion-button expand="block" size="large" color="tertiary" (click)="quina()">QUINA</ion-button>
      
</ion-content>
