ion-slides {
    margin-top: 5%;
    background: #e6e6e6;
 
    img {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

ion-toolbar {
    --background: url('../../assets/lotomania/olho-quantico.jpg') no-repeat center center / cover;
    -webkit-background-size: cover;
    color: white;
    font-family: GOLSansTextBold,'Trebuchet MS',Arial,sans-serif;
    font-size: 22px;
    
  }

ion-content {
    --background: url('../../assets/lotomania/dinheiro.jpg') no-repeat center center / cover;
}

ion-card {
  background: white
}

ion-back-button {
  --margin-end: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --icon-margin-end: 0px;
  --icon-margin-start: 0px;
}

ion-grid {
  text-align: center;
}

ion-col {
  margin-top: -12px;
}

.title-md {
  padding-inline-start: 0px;
  padding-top: 3px;
}

.sc-ion-buttons-md-h {
  margin-top: -67px;
}

.tgl-ativar {
  
}

#frase {
  padding-top: 20px;
  text-align: center;
  color: white;
  font-size: 26px;
}
  