<ion-header>
  <ion-toolbar primary>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
    <div id="frase">"Todo pensamento positivo te leva na direção certa."</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Como usar</ion-card-subtitle>
      <ion-card-title>Quadro de Vizualização</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A lei da Atração ensina que voce cria sua realidade atravez do que voce vibra para o universo.
      Escolha uma imagem e fixe seus pensamentos em como seria quando voce estiver conquistado.
      Faça isso por pelomenos 2 minutos, sinta como se ja estivesse de posse dessa conquista.
      O pensamento gera o sentimento, o sentimento atrai os resultados. Tenha FÉ e Boa Sorte.
    </ion-card-content>
  </ion-card>

  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let img of [1,2,3,4,5,6]">
      <img src="assets/lotomania/{{ img }}.jpg" tappable (click)="openPreview(img)">
    </ion-slide>
  </ion-slides>
</ion-content>
