<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      LOTOFACIL
    </ion-title>
    <div id="frase">"TUDO NA MINHA VIDA ACONTECE PARA O MEU BEM SUPERIOR.</div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <!--<ion-button size="large" color="lotofacil" (click)="fechamento_22x8x6()">Fechamento 22-8-6</ion-button>
  <ion-button size="large" color="lotofacil" >Fechamento 18-3-9</ion-button>-->

  <ion-grid>
    <ion-col>
        <ion-card class="card" id="ion-card-palpite" (click)="palpite()">
          <div id="dezena">Palpite da Sorte</div>
          <div id ="apostas">1 apostas</div>
          <div></div>
        </ion-card>
      </ion-col>
    <ion-row>
      <ion-col>
        <ion-card class="card" (click)="fechamento18x6()">
          <div id="dezena">18 dezenas</div>
          <!--<div id="fixas">8 fixas</div>-->
          <div id ="apostas">6 apostas</div>
          
          <div></div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card" (click)="fechamento18x24()">
          <div id="dezena">18 dezenas</div>
          <div id="apostas">24 apostas</div>
         
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="card" (click)="fechamento20x4()">
          <div id="dezena">20 dezenas</div>
          <div id ="apostas">4 apostas</div>
          
          <div></div>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card class="card" (click)="fechamento18x35()">
          <div id="dezena">18 dezenas</div>
          <div id="apostas">35 aposta</div>
        </ion-card>
      </ion-col>
    </ion-row>
    
    
  </ion-grid>
</ion-content>
