<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      LOTOFACIL
    </ion-title>
    <ion-buttons slot="end">
     <ion-icon size="large" color="danger" name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <!--<ion-button size="large" color="lotofacil" (click)="fechamento_22x8x6()">Fechamento 22-8-6</ion-button>
  <ion-button size="large" color="lotofacil" >Fechamento 18-3-9</ion-button>-->

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="fechamento_22x8x6()">
          <div id="dezena">22 dezenas</div>
          <div id="fixas">8 fixas</div>
          <div id ="apostas">6 apostas</div>
          <div id="valor">R$ 12,00</div>
          <div></div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="fechamneto18x3x9()">
          <div id="dezena">18 dezenas</div>
          <div id="fixas">3 fixas</div>
          <div id="apostas">9 apostas</div>
          <div id="valor">R$ 18,00</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
