
ion-toolbar {
  --background: linear-gradient(to left, rgba(249,86,160,0.6), rgba(249,86,160,0.6)), url('../../assets/lotomania/number.jpg') no-repeat center center / cover;
    //--background: url('../../assets/lotomania/beach.jpg') no-repeat center center / cover;
    -webkit-background-size: cover;
    color: white;
    font-family: GOLSansTextBold,'Trebuchet MS',Arial,sans-serif;
    font-size: 22px;
  }
ion-content {
   --background: url('../../assets/lotomania/dinheiro.jpg') no-repeat center center / cover;
  }
  
ion-button {
    width: -webkit-fill-available;
  }

ion-card {
    --background: #f956a0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 29px;
  }

ion-col {
    margin: -11px;
}

#ion-card-palpite {
  --background: linear-gradient( rgba(249,86,160,0.6), rgba(249,86,160,0.6)), url('../../assets/lotomania/sorte-combo.jpg') no-repeat center center / cover;
    //--background: url('../../assets/lotomania/sorte-combo.jpg') no-repeat center center / cover;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: 98%;
    margin-left: 3px;
    margin-bottom: -13px;
  }
h6{
    margin-inline-start: 25px;
    margin-top: 40px;
    color: black
}
span {
  font-family: 'Courier New', Courier, monospace;
}
.title-md {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
  }
.sc-ion-buttons-md-h {
  margin-top: -54px;
}
.card {
  padding-bottom: 9px;
}
#valor {
  color: crimson;
  font-weight: bold;
  padding-top: 6px;
}
#valor-card {
  color: crimson;
  font-weight: bold;
  padding-top: 15px;
}
#dezena {
  font-size: x-large;
  padding-top: 3px;
  color:white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#apostas {
  font-size: large;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-bottom: 21px;
}
  
#fixas {
  color: cyan;
}
#frase {
  padding-top: 15px;
  text-align: center;
  color: white;
  font-size: 18px;
}

  