<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      ATRAÇÃO da SORTE
    </ion-title>
    <div id="frase">"Siga seus sonhos e ideais e lute enquanto a sorte faz o seu trabalho."</div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Resumo</ion-card-subtitle>
      <ion-card-title>CABALA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Segundo a cabala, tradição mística judaica, as 304 805 letras hebraicas da Torá 
      também contêm significados ocultos sobre Deus e as leis do Universo.
      O segredo da cabala é relacionar palavras e números da Torá de uma maneira específica.
      O princípio é que cada uma das 22 letras do alfabeto, do A ao Z, possui um valor numérico.
      A cabala diz que não existe o acaso, e sim a lei de causa e efeito. Tudo o que acontece na nossa vida 
      fomos nós que criamos de alguma forma, siga este caminho criando sua realidade decidindo que vai ganhar na loteria e assim será.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Como usar</ion-card-subtitle>
      <ion-card-title>Assinatura Cabalistica</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Segundo a cabala, tradição mística judaica, as 304 805 letras hebraicas da Torá 
      também contêm significados ocultos sobre Deus e as leis do Universo.
      O segredo da cabala é relacionar palavras e números da Torá de uma maneira específica.
      O princípio é que cada uma das 22 letras do alfabeto, do A ao Z, possui um valor numérico.
      A cabala diz que não existe o acaso, e sim a lei de causa e efeito. Tudo o que acontece na nossa vida fomos nós que criamos de alguma forma
    </ion-card-content>
    <form #f="ngForm" novalidade>
      <ion-item>
        <ion-label position="stacked">Assinatura:</ion-label>
        <ion-input name="assinatura" ngModel placeholder="Digite aqui"></ion-input>
      </ion-item>
      <ion-button type="submit" color="success" (click)="megasena(f)">
        <ion-icon slot="end" name="magnet"></ion-icon>
        MEGASENA
      </ion-button>
      <ion-button type="submit" color="lotofacil" (click)="lotofacil(f)">
        <ion-icon slot="end" name="magnet"></ion-icon>
        LOTOFACIL
      </ion-button>
      <ion-button type="submit" color="tertiary" (click)="quina(f)">
        <ion-icon slot="end" name="magnet"></ion-icon>
        QUINA
      </ion-button>
    </form>
    
  </ion-card>
  
  <!--MEGASENA-->
  <ion-grid *ngIf="megasena_check">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <div id="aposta">
                    <div id="aposta-label">
                      aposta premiada:
                      <h5>{{ dezenas_cabala }}</h5>
                      <table>
                        <tr>
                          <th id="table-header">Premio</th>
                          <th id="table-header">Quantidade</th>
                        </tr>
                        <tr>
                          <td id="sena">Sena</td>
                          <td id="sena">{{aposta.sena}}</td>
                        </tr>
                        <tr>
                          <td id="quina">Quina</td>
                          <td id="quina">{{aposta.quina}}</td>
                        </tr>
                        <tr>
                          <td id="quadra">Quadra</td>
                          <td id="quadra">{{aposta.quadra}}</td>
                        </tr>
                      </table>
                    </div> 
                  </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--LOTOFACIL-->
  <ion-grid *ngIf="lotofacil_check">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <div id="aposta">
                    <div id="aposta-label">
                      aposta premiada:
                      <h5>{{ dezenas_cabala }}</h5>
                      <table>
                        <tr>
                          <th id="table-header">Premio</th>
                          <th id="table-header">Quantidade</th>
                        </tr>
                        <tr>
                          <td id="sena">15 pontos</td>
                          <td id="sena">{{aposta.quinze}}</td>
                        </tr>
                        <tr>
                          <td id="quina">14 pontos</td>
                          <td id="quina">{{aposta.quatoze}}</td>
                        </tr>
                        <tr>
                          <td id="quadra">13 pontos</td>
                          <td id="quadra">{{aposta.treze}}</td>
                        </tr>
                      </table>
                    </div> 
                  </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--QUINA-->
  <ion-grid *ngIf="quina_check">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <div id="aposta">
                    <div id="aposta-label">
                      aposta premiada:
                      <h5>{{ dezenas_cabala }}</h5>
                      <table>
                        <tr>
                          <th id="table-header">Premio</th>
                          <th id="table-header">Quantidade</th>
                        </tr>
                        <tr>
                          <td id="sena">Quina</td>
                          <td id="sena">{{aposta.quina}}</td>
                        </tr>
                        <tr>
                          <td id="quina">Quadra</td>
                          <td id="quina">{{aposta.quadro}}</td>
                        </tr>
                        <tr>
                          <td id="quadra">Terno</td>
                          <td id="quadra">{{aposta.terno}}</td>
                        </tr>
                      </table>
                    </div> 
                  </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
