<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
  
    <div id="frase">"A IMAGINAÇÃO É TUDO. É A PREVIA DAS ATRAÇÕES FUTURAS DA VIDA"</div>
    <span>- Albert Einstein</span>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>CABALA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Segundo a cabala, tradição mística judaica, as 304 805 letras hebraicas da Torá 
      também contêm significados ocultos sobre Deus e as leis do Universo.
      O segredo da cabala é relacionar palavras e números da Torá de uma maneira específica.
      O princípio é que cada uma das 22 letras do alfabeto, do A ao Z, possui um valor numérico.
      A cabala diz que não existe o acaso, e sim a lei de causa e efeito. Tudo o que acontece na nossa vida 
      fomos nós que criamos de alguma forma, siga este caminho criando sua realidade decidindo que vai ganhar na loteria e assim será.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Como usar</ion-card-subtitle>
      <ion-card-title>Assinatura Cabalistica</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Digite seu nome no campo abaixo e escolha uma loteria para ter seu numero
      somado as dezenas geradas para a respectiva loteria.
      Dessa maneira voce "assinará" seu nome nas dezenas geradas.
      Voce pode também assinar uma palavra ou uma frase assinar e enviar para o universo.
      Ex:"PROSPERIDADE", "SORTE", "EU SOU O GANHADOR DA LOTERIA".       
      <br>
      <strong>Como funciona:</strong> O app vai somar a representação cabalistica da palavra digitada a cada dezena gerada aleatoriamente.
    </ion-card-content>
    <form #f="ngForm" novalidade>
      <ion-item>
        <ion-label position="stacked">Assinatura:</ion-label>
        <ion-input name="assinatura" ngModel placeholder="Digite aqui"></ion-input>
      </ion-item>
      <ion-button type="submit" color="success" (click)="megasena(f)">
        <img class="img-icon" src="assets/icon/money-magnet.png">
        MEGASENA
        
      </ion-button>
      <ion-button type="submit" color="lotofacil" (click)="lotofacil(f)">
        <img class="img-icon" src="assets/icon/money-magnet.png">
        LOTOFACIL
  
      </ion-button>
      <ion-button type="submit" color="tertiary" (click)="quina(f)">
        <img class="img-icon" src="assets/icon/money-magnet.png">
        QUINA

      </ion-button>
    </form>
  </ion-card>

  <ion-card>
    <h1 class="title">Suas dezenas geradas</h1>
    <div *ngIf="megasena_check"><h2 class="dezenas-cabala-mega">{{ dezenas_cabala }}</h2></div>
    <div *ngIf="lotofacil_check"><h2 class="dezenas-cabala-lotofacil">{{ dezenas_cabala }}</h2></div>
    <div *ngIf="quina_check"><h2 class="dezenas-cabala-quina">{{ dezenas_cabala }}</h2></div>
  </ion-card>
  
  <!--MEGASENA
  <ion-grid *ngIf="megasena_check">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <div id="aposta">
                    <div id="aposta-label">
                      aposta premiada:
                      <h5>{{ dezenas_cabala }}</h5>
                      <table>
                        <tr>
                          <th id="table-header">Premio</th>
                          <th id="table-header">Quantidade</th>
                        </tr>
                        <tr>
                          <td id="sena">Sena</td>
                          <td id="sena">{{aposta[0].sena}}</td>
                        </tr>
                        <tr>
                          <td id="quina">Quina</td>
                          <td id="quina">{{aposta[0].quina}}</td>
                        </tr>
                        <tr>
                          <td id="quadra">Quadra</td>
                          <td id="quadra">{{aposta[0].quadra}}</td>
                        </tr>
                      </table>
                    </div> 
                  </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  LOTOFACIL
  <ion-grid *ngIf="lotofacil_check">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <div id="aposta">
                    <div id="aposta-label">
                      aposta premiada:
                      <h5>{{ dezenas_cabala }}</h5>
                      <table>
                        <tr>
                          <th id="table-header">Premio</th>
                          <th id="table-header">Quantidade</th>
                        </tr>
                        <tr>
                          <td id="sena">15 pontos</td>
                          <td id="sena">{{aposta[0].quinze}}</td>
                        </tr>
                        <tr>
                          <td id="quina">14 pontos</td>
                          <td id="quina">{{aposta[0].quatoze}}</td>
                        </tr>
                        <tr>
                          <td id="quadra">13 pontos</td>
                          <td id="quadra">{{aposta[0].treze}}</td>
                        </tr>
                        <tr>
                          <td id="quadra">12 pontos</td>
                          <td id="quadra">{{aposta[0].doze}}</td>
                        </tr>
                        <tr>
                          <td id="quadra">11 pontos</td>
                          <td id="quadra">{{aposta[0].onze}}</td>
                        </tr>
                      </table>
                    </div> 
                  </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  QUINA
  <ion-grid *ngIf="quina_check">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <div id="aposta">
                    <div id="aposta-label">
                      aposta premiada:
                      <h5>{{ dezenas_cabala }}</h5>
                      <table>
                        <tr>
                          <th id="table-header">Premio</th>
                          <th id="table-header">Quantidade</th>
                        </tr>
                        <tr>
                          <td id="sena">Quina</td>
                          <td id="sena">{{aposta[0].quina}}</td>
                        </tr>
                        <tr>
                          <td id="quina">Quadra</td>
                          <td id="quina">{{aposta[0].quadra}}</td>
                        </tr>
                        <tr>
                          <td id="quadra">Terno</td>
                          <td id="quadra">{{aposta[0].terno}}</td>
                        </tr>
                      </table>
                    </div> 
                  </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  

</ion-content>
