ion-header {
  display: flex;
  height: 15%;
}
ion-toolbar {
    --background: url('../../assets/header/numerologiacabala.jpg') no-repeat center center / cover;
    -webkit-background-size: cover;
    color: white;
    font-family: GOLSansTextBold,'Trebuchet MS',Arial,sans-serif;
    font-size: 22px;  
}

ion-title {
  font-weight: bold;
}
  
ion-content {
  --background: url('../../assets/bg/bg-cabala.jpg');
}
  
ion-note {
  --color: #000000;
  font-family: fantasy;
}
ion-button {
  width: -webkit-fill-available;
  height: 63px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 33px;
}

ion-card {
  --background: white;
  color: black
}
span {
  padding-inline-start: 69px;
  font-family: 'Courier New', Courier, monospace;
}
.title-md {
  padding-top: 70px;
  text-align: center
}
.sc-ion-buttons-md-h {
  margin-top: -165px;
}

.img-icon {
  width: 21%;
  margin-right: 10px;
  margin-left: -21px;
}
.title {
  font-family: GOLSansTextBold,'Trebuchet MS',Arial,sans-serif;
  font-size: 22px;
  color: #ff5e00;
  margin-bottom: 25px;
  text-align: center;
}
.dezenas-cabala-mega {
  font-family: GOLSansTextBold,'Trebuchet MS',Arial,sans-serif;
  font-size: 33px;
  color: #0c9c45;
  margin-bottom: 25px;
  text-align: center;
}

.dezenas-cabala-lotofacil {
  font-family: GOLSansTextBold,'Trebuchet MS',Arial,sans-serif;
  font-size: 33px;
  color: #f84395;
  margin-bottom: 25px;
  text-align: center;
}

.dezenas-cabala-quina {
  font-family: GOLSansTextBold,'Trebuchet MS',Arial,sans-serif;
  font-size: 33px;
  color: blue;
  margin-bottom: 25px;
  text-align: center;
}

#table-header {
  color:cadetblue
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  width:99%
}
td {
  text-align: center
}
#sena {
  color: #0c9c45
}
#quina {
  color: blue
}
#quadra {
  color: #f00
}
#aposta {
  padding-left: 3px;
  padding-bottom: 3px;
  letter-spacing: 3px;
}

#aposta-label {
  color: cadetblue
}

#frase {
  padding-top: 99px;
  text-align: center;
  color: black;
  font-weight: bold;
}

h5 {
  color: black;
  font-family: fantasy;
  padding-top: 2px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center
}



