<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      ANALIZE DA APOSTA
    </ion-title>
    <div id="frase">"O MELHOR AMULETO DA SORTE É A FÉ"</div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  {{fechamento|json}}
  <ion-card class="contador" >
    <div id="aposta">
      <div id="aposta-label">
        <h5>{{fechamento["0"].num_usuario}}</h5>
        <table>
          <tr>
            <th id="table-header">Premio</th>
            <th id="table-header">Quantidade</th>
          </tr>
          <tr>
            <td id="sena">Quina</td>
            <td id="sena">{{fechamento[0].quina}}</td>
          </tr>
          <tr>
            <td id="quina">Quadra</td>
            <td id="quina">{{fechamneto["0"].quadra}}</td>
          </tr>
          <tr>
            <td id="quadra">Terno</td>
            <td id="quadra">{{fechamento["0"].terno}}</td>
          </tr>
        </table>
      </div>       
    </div>
  </ion-card>

  <ion-card>
    <h2 id="charts">Total de saidas</h2>
    <div style="padding-top: 10px;">
      <canvas #chartLineAposta width="400" height="300"></canvas>
    </div>
  </ion-card>

</ion-content>
