<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close()">
      <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      FECHAMENTOS
    </ion-title>
    <div id="frase">"O MELHOR AMULETO DA SORTE É A FÉ"</div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
        <ion-card class="contador"  *ngFor="let aposta of apostas">
            <div id="aposta">
              <div id="aposta-label">
                aposta <q></q>:
                <h5>{{aposta.num_usuario}}</h5>
                <table>
                  <tr>
                    <th id="table-header">Premio</th>
                    <th id="table-header">Quantidade</th>
                  </tr>
                  <tr>
                    <td id="sena">15 pontos</td>
                    <td id="sena">{{aposta.quinze}}</td>
                  </tr>
                  <tr>
                    <td id="quina">14 pontos</td>
                    <td id="quina">{{aposta.quatoze}}</td>
                  </tr>
                  <tr>
                    <td id="quadra">13 pontos</td>
                    <td id="quadra">{{aposta.treze}}</td>
                  </tr>
                  <tr>
                    <td id="quadra">12 pontos</td>
                    <td id="quadra">{{aposta.doze}}</td>
                  </tr>
                  <tr>
                    <td id="quadra">11 pontos</td>
                    <td id="quadra">{{aposta.onze}}</td>
                  </tr>
                </table>
              </div> 
            </div>
          </ion-card>
</ion-content>
