
ion-toolbar {
  --background: url('../../assets/lotomania/sorte-combo.jpg') no-repeat center center / cover;
  -webkit-background-size: cover;
  color: white;
  font-family: fantasy;
  
}
ion-content {
  --background: url('../../assets/lotomania/simpatias.jpg') no-repeat center center / cover;
}

ion-button {
  width: -webkit-fill-available;
}
